button{
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;

}