form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

form h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.err-message-wrapper{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #f8d7da;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.err-message-wrapper svg{
    color: #eb4d5d;
}

.error-message {
    color: red;
    font-size: 0.9em;
    font-weight: 600;
}