/* Let's go for the mobile first approach */

.main-wrapper{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    padding: 4rem 1rem 1rem 1rem;
}



.main-section h3 {
    text-align: center;
    font-size: 1.8rem; /* Plus petit pour mobile */
    padding: 2rem 1rem;
    font-weight: 600;
}

.main-section h3 span{
    color: var(--primary-color);
}

.green-section{
    background: var(--secondary-color);
    margin: 0 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
}

.green-section, .blue-section h3, .green-dark-section h3{
    color: var(--my-white);
}

.green-dark-section{
    margin: 0 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
}

h1, h2, h3, h4{
    line-height: 1.2;
}

/* Typography*/

h3{
    font-size: 1.8rem;
}